* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logout-button {
  position: absolute;
  right: 3vw;
  top: 0.5vw;
}

.header {
  background: black;
  padding: 1rem 0;
  text-align: center;
  color: orange;
  border-bottom: 2px solid orange;
}

.header h1 {
  margin: 0;
  font-size: 2.5rem;
}


.content {
  background-color: #ff7f00;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-position: center center;
}

.login-content {
  background-image: url(https://images.unsplash.com/photo-1542159919831-40fb0656b45a?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.reg-content {
  background-image: url(https://images.pexels.com/photos/2749481/pexels-photo-2749481.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.solar-content {
  background-image: url(https://images.pexels.com/photos/1454752/pexels-photo-1454752.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

button {
  background: orange;
  color: black;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 0.5rem;
  transition: background 0.3s ease;
}

button:hover {
  background: #ff7f00;
}

.footer {
  background: black;
  padding: 1rem 0;
  text-align: center;
  color: orange;
  border-top: 2px solid orange;
}

.container {
  background: rgba(0, 0, 0, 0.8);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 80%; /* Adjust width as needed */
  max-width: 400px; /* Limit maximum width */
}

.container h2 {
  margin-top: 0;
  color: orange;
}

.container label {
  display: block;
  margin: 1rem 0 0.5rem;
  color: orange;
}

.container input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
}


.results {
  margin-top: 1rem;
}

